<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fortnite Stats Analyzer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FortniteStatsAnalyzer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="page-container">
        <header>
            <nav class="navbar">
                <div class="nav-content">
                    <div class="nav-center">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        <span class="nav-separator">|</span>
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main">
            @RenderBody()
        </main>

        <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="footer-center">
                        <span>2024 - Fortnite Stats Analyzer</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
